.alt-light-highlight-background {
	background-color: var(--alt-light-highlight-color);
	padding: 1em 0;
}

.full-background {
	margin-left: calc(-100vw / 2 + 100% / 2);
	margin-right: calc(-100vw / 2 + 100% / 2);
	max-width: 100vw;
}

.full-background div {
	margin: 0 auto;
	max-width: var(--entry-content--max-width);
}

.light-highlight-background {
	background-color: var(--light-highlight-color);
	padding: 1em 0;
}
