.entry-content {
	margin: 0 auto 1em auto;
	max-width: var(--entry-content--max-width);
	width: 90%;
}

.entry-content--header {
	align-items: baseline;
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.5em;
}

.entry-content--h2 {
	margin-bottom: 0;
}

.archive--entry-content--h2 {
	font-size: 1.2em;
	margin-top: 0.25em;
}

.single .entry-content--header,
.page .entry-content--header {
	border-bottom: 4px dotted var(--primary-color);
}
