/* Components */

@import url("backgrounds.css");
@import url("borders.css");
@import url("entry-content.css");
@import url("lists.css");
@import url("margins.css");

header.site-header, footer.site-footer {
	margin: 0 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer.site-footer {
	background-color: var(--primary-color);
	color: white;
	font-size: smaller;
	line-height: 1.5;
	margin: 0;
	padding: 1em;
}

footer.site-footer a {
	background-color: transparent;
	color: white;
	border: none;
	text-decoration: none;
}

footer.site-footer a:hover {
	color: var(--light-highlight-color);
	text-decoration: underline;
}
