body {
	color: var(--black);
	display: grid;
	font-family: var(--entry-content--font-family);
	font-size: var(--entry-content--font-size);
	grid-template-rows: auto 1fr;
	line-height: var(--entry-content--line-height);
	min-height: 100vh;
}

a {
	background-color: var(--light-highlight-color);
	border: 4px solid var(--light-highlight-color);
	color: var(--black);
	padding: var(--a--margin-left);
	display: inline-block;
}

a:hover {
	border: 4px dotted var(--primary-color);
}

a:active {
	border: 4px solid var(--primary-color);
}

a.blank,
a.blank:hover,
a.blank:active {
	background-color: transparent;
	border: none;
}

