/*
 * Colors
 */
:root {
	--c-black: #000;
	--c-white: #fff;
	--black: #1a0709;
	--primary-color: #046b39;
	--dark-contrast-color: #78232a;
	--light-highlight-color: #b3f3ff;
	--alt-light-highlight-color: #fffdbf;
	--old-light-highlight-color: #70f3ff;
	--light-contrast-color: #9e1665;
	--dark-highlight-color: #16939e;
}
